<div class="container h-100">
  <div class="card-scholar">
    <div class="scholar-bar blue-bar d-flex align-items-center">
      <h4>Transaction History:</h4>
    </div>
    <div class="scholar-card-info">
      <div class="scholar-descripton d-flex flex-column align-items-start">
        <p>You received £ 1000 fund from Seulkee Kang. </p>
      </div>
    </div>
  </div>
  <div class="card-scholar">
    <div class="scholar-bar blue-bar d-flex align-items-center">
      <h4>Your Payment:</h4>
    </div>
    <div class="scholar-card-info">
      <div class="scholar-descripton d-flex flex-column align-items-start">
        <p>You paid £ 500 tuituion to Arizona Statue University. </p>
        <p>You paid £ 100 conference fee to AAC. </p>
      </div>
    </div>
  </div>
</div>
