<div class="card-scholar-container" data-scholar-target="product" data-search-scholars-target="list">
  <% @scholars.each do |scholar| %>
    <%= render "card_scholar", scholar: scholar %>
  <% end %>
</div>
