.navbar-lewagon {
  justify-content: space-between;
  background: #043E9B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  list-style: none;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
  height: 55px;
}
